include LICENSE
include README.md
include pyproject.toml

recursive-include docs *.md *.rst *.txt *.png *.jpg *.jpeg *.gif
recursive-include config *.yml *.yaml *.json *.ini *.conf
recursive-include tests *.py

prune tests/_trial_temp
prune tests/logs
prune **/__pycache__
prune **/.DS_Store
